element.style {
}

.cta-sign-up .btn--facebook {
  background-color: #3b5998;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 0.5em;
  margin-bottom: 10px;
}

.btn--facebook {
  background-color: #3b5998;
  color: white;
}

.btn, .verification .stripe-button-el {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  line-height: 1;
  margin: 0;
  padding: 0;
  background-color: #2980b9;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 0.5em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  text-align: center;
}

a {
  transition: none;
}

a {
  background-color: transparent;
}

a {
  -webkit-transition: color 0.25s ease-in-out, text-decoration 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, text-decoration 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, text-decoration 0.25s ease-in-out;
  color: #2980b9;
  text-decoration: none;
}

a {
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheeta:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}
Inherited from 

.cta-sign-up {
  background: white;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}
Inherited from 

.wf-active body {
  font-family: Lato, "Proxima Nova", Gotham, Geneva, Arial, sans-serif;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.375;
  word-wrap: break-word;
}
Inherited from 

html.wf-active, .wf-active button, .wf-active input, .wf-active select, .wf-active textarea, .wf-active .pure-g [class*='pure-u'] {
  font-family: Lato, 'Proxima Nova', Gotham, Geneva, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, button, input, select, textarea, .pure-g [class*='pure-u'] {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}