@import "bourbon";
@import "base/base";
@import "neat";
@import "alerts";
@import "navigation";
@import "delete";
@import "footer";
@import "buttons";
@import "offers_layout";
@import "button_group";
@import "forms_inline";
@import "forms_date_inline";
@import "parallax";
@import "request";
@import "details";
@import "ribbon_role";
@import "users_gallery";
@import "facebook";
@import "sign_up";




body {
 max-width: 100%;
 margin: auto;
 font-family: $helvetica;
}

main {
 max-width: 800px;
 height: relative;
 margin: auto;
}

h2 {
  font-family: 'Architects Daughter', cursive;
}

div .button-group {
  text-align: center;
}

.nav-link-more {
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}

.hplogo {
  margin:50px 5px ;
  float: left; 
  width: 400px;
}

.float-right {
  margin:50px 0 ;
  float: right;
  width: 300px;
}

.clear {
  clear: both;
}

.request-heading {
  $icon-bullet-size: 3.5em;

  clear: both;
  margin: 10px 0;


  h2 {
    display: inline-block;
    float: left;
    line-height: 30px;
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  #uhm {
    @include button;
    width: 300px;
    text-align: center;
    float: right;
    line-height: 30px;
  }

}

.tiny {
  width: 600px;
  margin: auto;
  text-align: center;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 100px; /* '.push' must be the same height as 'footer' */
}
