@import "bourbon";
@import "base/base";
@import "neat";
@import "alerts";
@import "navigation";
@import "delete";
@import "footer";
@import "buttons";
@import "offers_layout";
@import "button_group";
@import "forms_inline";
@import "forms_date_inline";
@import "parallax";
@import "request";
@import "details";
@import "ribbon_role";
@import "users_gallery";


body {
   max-width: 100%;
   margin: auto;
   font-family: $helvetica;
}

main {
   max-width: 800px;
   height: relative;
   margin: auto;
}

