#card {
    width: 500px;
    margin: auto;
    margin-top: 20px;
}
#card h2 {
    text-shadow: 0 1px 0 ;
    font-size: 1.62em;
    
    display: block;
    width: 100%;
    padding-bottom: .4em;
    margin-bottom: .6em;
    border-bottom: 2px ;
    /*box-shadow*/
    -webkit-box-shadow: 0 1px 0 ;
    -moz-box-shadow: 0 1px 0;
    box-shadow: 0 1px 0 ;
}

